.CharacterForm {
    text-align: center;
}

.CharacterForm-form {
    margin: 20px;
}

.CharacterForm-section {
    background-color: grey;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
input {
    text-align: center;
    margin: 1rem;
    width: 12rem;
    padding: 1rem;
}
select {
    text-align: center;
    width: 12rem;
}

.ability-score {
    width: 5rem;
}