.CharacterList {
    text-align: center;
    align-items: center;
    background-color: lightblue;
}

.CharacterList-CreateCharacter {
    background-color: lightblue;
}
.CharacterList-CreateCharacter a {
    color: white;
}

.CharacterList-CreateCharacter a:hover {
    color: black;
}

.CharacterList-CreateCharacter h3 {
    background-color: rgb(41, 77, 144);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    
    box-shadow: 3px 3px 3px black;

}
