.CharacterCard {
    height: 100px;
    width: 50%;
    color: black;
    text-decoration: none;
    font-size: 22px;
    list-style: none;
    background-color: green;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;

}


ul {
list-style: none;
}
