.CharacterProfile-castingMod {
    text-align: center;
    background-color: slategray;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}



.CharacterProfile-castingMod Button {
    background-color: rgb(205, 205, 205);
    color: black;
    font-weight: bold;
    margin: 10px;
    padding: 10px
}