.ListSearch {
    background-color: grey;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    
    box-shadow: 3px 3px 3px black;
}

.ListSearch Button {
    margin: 10px;
    background-color: darkslategray;
    font-size: 20px;
    
    box-shadow: 3px 3px 3px black;
}

.ListSearch Button:hover {
    background-color: darkslategrey;
}

.ListSearch input {
    width: 100%;
    
}
