.SpellCard {
    margin: auto;
    background-color: red;
    border-radius: 10px;
    width: 100vw;
    height: 100vh;
}

/* .SpellCard-details { */
    /* display: inline-block; */
/* } */

.SpellCard-content {
    width: 90vw;
    align-items: center;
    display: inline-block;
    background-color: darkred;
}

.SpellCard-title {
    display: inline-block;
    width: 30rem;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    color: black;
    /* place-content: center; */
}

.SpellCard-title-name {
    float: left;
    font-size: 20px;
    font-weight: bold;
}
.SpellCard-title-school {
    float: right;
    font-size: 20px;
}

.SpellCard-damage {
    /* padding: 20px; */
    margin: 20px;
    height: 500px;
    background-color: rgb(65, 0, 0);
}

.SpellCard-damage-big {
    float: left;
    width: 50%;
    height: 100%;
    float: left;
    /* background-color: pink; */
    place-content: center;
}

.SpellCard-damage-big .SpellCard-info {
    /* width: 50%; */
    margin: auto;
    margin-top: 10px;
}

.SpellCard-damage-small {
    /* background-color: rgb(177, 177, 81); */
    width: 50%;
    height: 100%;
    float: right;
    place-content: center;
}
.SpellCard-damage-small .SpellCard-info{
    height: 50px;
    padding: 5px;
    margin: auto;
    margin-top: 5px;
}


.SpellCard-info {
    width: 200px;
    height: 130px;
    place-content: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    /* display: inline-block; */
}
/* Total width/height with padding:  240px */

.SpellCard-description {
    width: 75vw;
    margin: auto;
    place-content: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 30px;
}

.level-select {
    width: 50px;
    height: 50px;
    font-size: 12px;
}
/* 
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}


.tooltip .tooltip-text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    width: 100px;
    bottom: 90%;
    left: 50%;
    margin-left: -70px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    z-index: 1;
  }

.tooltip:hover .tooltip-text {
    visibility: visible;
} */