.SpellCard {
    color: black;
    margin: auto;
    background-color: red;
    border-radius: 10px;
    width: 80vw;
    height: inherit;
    color: black;
    
}

.SpellCard-content {
    background-color: darkred;
    padding: 20px;
    
    box-shadow: 3px 3px 3px black;
}

.SpellCard-title {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: inherit;
    text-align: center;
    
    box-shadow: 3px 3px 3px black;
}

.SpellCard-title-name {
    font-weight: bold;
}

.SpellCard-description {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    box-shadow: 3px 3px 3px black;
}

.SpellCard-assignSpell {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}

